body{
  background-color: #555;
}
section{
  margin: 5%;
}
h1{
  background-color: #008000;
  float:centre;
  font-size:250%;
}
h2{
  font-size: 200%;
  
}
p{
  font-size: 175%;
  float:left;
}
img{
  margin-top:3%;
  margin-bottom:3%;
  float:left;
  width:200px;
  height:150px;
}
