body{
  background-color: #555;
}
section{
  margin: 5%;
}
h1{
  background-color: #008000;
  float:centre;
  font-size:250%;
}
h2{
  font-size: 200%;
  
}
p{
  font-size: 175%;
  float:left;
}
img{
  margin-top:3%;
  margin-bottom:3%;
  float:right;
}
#EnterpriseIrelandLogo{
  width: 20%;
  height: 15%;
}
#MicrofinanceIrelandLogo{
  width: 20%;
  height: 65%;
}
#NationalEnterpriseHubLogo {
  width:10%;
  height:20%;
}
