body{
  
}
section{
  margin: 5%;
}
h1{
  background-color: #008000;
  float: centre;
  font-size:250%;
}
h2{
  font-size: 200%;
}
p{
  font-size: 175%;
}
img{
  float: left;
}
#EnterpriseIrelandLogo{
  width: 20%;
  height: 20%
}
